# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Data
data/orders.csv

# Build files
dist/
build/
*.egg-info/


# Python
__pycache__/
*.pyc

# Virtual environment
.venv/